<form id="typeaheadsearch" action="/beers/#{id}" method="get">
  <input class="typeahead" type="text" placeholder="Search for a Beer">
  <input type="submit" style="position: absolute; left: -9999px">
</form>
