<h1>Beertropolis</h1>
<div id="search">
  <vue-search></vue-search>
</div>
<img src="http://www.wheelhousebrewing.com/wp-content/themes/wheelhouse/images/slide1.jpg">

<%= render partial: "vue_templates/search" %>
