<script src="jquery.min.js" type="text/javascript"></script>

<h1>Beertropolis</h1>

<%= render partial:"seach" %>

<img src="http://www.wheelhousebrewing.com/wp-content/themes/wheelhouse/images/slide1.jpg">
</img>

