    <section class="banner row">
      <%= image_tag 'BeertropolisLogo.svg', class: 'logofull' %>
      <h1 class="title">
        BEERTROPOLIS
      </h1>
    </section>
    <h3>Be a part of the craft beer revolution.</h3>
    <%= render partial:"search" %>
