<body class="indexbodyonly">
  <div style="text-align:center"><%= image_tag 'RedLogoFullGrayBorder.png', class: 'logofull' %></div>
    <h1 class="title">
      BEERTROPOLIS
    </h1>
  <h3>Be a part of the craft beer revolution.</h3>
  <%= render partial:"search" %>
</body>
