<!DOCTYPE html>
<html lang="en">
  
    <h1 class="banner">All Beers</h1>
  


<div class="list">
<% @beers.each do |b| %>
  <%= link_to b.name, beer_path(b) %>
  <br>
  | Style: <%= b.style %>
  | Manufacturer: <%= b.manufacturer %>
  <br>
  <br>
<% end %>
</div>
</html>
