<html>
  <h1 class="banner">We like Beer!</h1>
  <br><br><br><br><br><br>
  
  <p class="paragraph">  And we are guessing you do too, or else you wouldn't be sharing this experience with us.</p>
  <p class="paragraph">We are passionate about craft beer, and are always looking for the next game changer.
  </p>
  <p class="paragraph">Every time you let us know where you got something, it helps the entire community.
  </p>
  <p class="paragraph">If you are on to something, let us know. If you have the next beer idea, let us know.</p>
  <p class="paragraph">Having a bad day? Let us know. Gently.</p>

</html>
