h1 {
  position: absolute;
  top: 10%;
  font-size: 2em;
}

h3 {
  position: absolute;
  top: 15%;
  font-size: 2em;
}

#map {
  position: relative;
  top: 20%;
  height: 50%;
  width: 75%;

  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
}

#chart_div {
  position: relative;
  top: 20%;
  height: 400px;
  width:  600px;
}
