#beershow {
  padding-top:    80px;
  padding-bottom: 100px;
  padding-left:   30px;
  padding-right:  30px;

  h1 {
    position:    static;
    text-align:  center;
    color:       #23527C;
    font-size:   3em;
    font-weight: bold;
    padding-top: 20px;
  }

    h2 {
      color:      #A52714;
      text-align: center;
    }
    .mapbuttons {
      margin-top: 10px;
      width:      100%;
    }

  .toptitle {
    border: 3px solid #01579b;
    background: #E55643;
    text-align: center;
    font-size: 2em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 00 10px;
  }
  .subtitle {
    border: 3px solid #01579b;
    background: #E55643;
    text-align: center;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

  }

  #starry {
    font-size: 6em;
    line-height: 40%;
    span {
      position: relative;
      bottom: -12px;
    }
  }

  .charttitle {
    border: 3px solid #01579b;
    background: #E55643;
    text-align: center;
    font-size: 26px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
  }

  .ratingsbox {
    border: 3px solid #01579b;
    background: #E55643;
    text-align: center;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

  }
  .subtext {
    border: 3px solid #01579b;
    background: #99B3CC;
    text-align: center;
    text-align: center;
    color: #23527C;
    text-align: center;
    font-size: 2em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 12px;
    margin: 0 0 10px;
  }

  .blurb {
    // border: 3px solid #01579b;
    color: #23527C;
    text-align: left;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

  }
  .heatmap {
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 3px solid #01579b;
    background: white;
    text-align: center;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #E55643;
    margin: 0 00 5px;
  }
  .review {
    padding-top: 8px;
    p {
      background-color: #A2ACAD;
      font-size:        1.25em;
      padding:          10px 8px;
    }
    .heading {
      background-color: #7E7E7D;
      font-size:        1.5em;
    }
  }
}

#map {
  height: 600px;
  border: 3px solid #01579b;

h1 {
  position: absolute;
  top: 10%;
  font-size: 2em;
}

h3 {
  position: absolute;
  top: 15%;
  font-size: 2em;
}


  #floating-panel {
    position:         absolute;
    top:              10px;
    left:             25%;
    background-color: #fff;
    padding:          5px;
    border:           1px solid #999;
    text-align:       center;
    font-family:      'Roboto','sans-serif';
    line-height:      30px;
    padding-left:     10px;
  }
}

#chart_div {
  height:   400px;
  // width:    550px;
}

#beer_stats {
  height: 400px;
  width:  1000px;
}

#stat_line {
  width:       100px;
  height:      100px;
  margin-top:  200px;
  float:       right;
}

#average_price {
  width:            130px;
  height:           50px;
  margin:           10px;
  background-color: red;
  border:           1px solid;
  padding-top:      5px;
  font-size:        13px;
  text-align:       center;
}

#beer_name {
  width:            280px;
  height:           50px;
  margin:           10px;
  background-color: red;
  border:           1px solid;
  margin:           10px;
  text-align:       center;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}
