/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-typeahead-rails
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "welcome";
@import "show";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#login {
  font-size: 1em;
}

  .banner {
    font-size: 100px;
    font-family: 'Fjalla One', sans-serif;
    width: 100%;
    text-align:center;
    display: in-line;
    position: relative;
    top: 100px;
    $shadow: #533d4a;
    color: #e55643;
    text-shadow: $shadow 3px 3px;

  }

.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

.stars {
  margin: 20px 0;
  font-size: 24px;
  color: #d17581;
}

ul {
  list-style-type: none;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e55643;
  box-shadow: 5px 5px 2px #732626;
  z-index: 2;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  color: #732626;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4d3333;
}
.header {
  top: 0;
}

footer {
  background-color: #e55643;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.list {
  position: relative;
  top: 120px;
  text-align: center;

}
.form {
  vertical-align:center;

  font-family: 'Fjalla One', sans-serif;
  text-align:center;
  color:#e55643;
}

.paragraph {
  text-align:center;
  color: orange;
}
