.push_button {
  position: relative;
  width: 200px;
  color: #FFF;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 1px #D94E3B;
  background: #cb3b27;
  text-align: center;
  padding: 20px 30px;

  -webkit-transition: all 0.1s;
  -webkit-box-shadow: 0px 9px 0px #84261a;
}

.push_button:active {
  -webkit-box-shadow: 0px 2px 0px #84261a;
  box-shadow: 0px 2px 0px #84261a;
  position: relative;
  top: 7px;
}

h2 {
  font-size: 3em;
  font-family: cursive;
  text-align: center;
  text-shadow: 1px 3px 6px #a3d0b0, 0 0 0 #000, 1px 3px 6px #a3d0b0;

  .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
  }

  .stars
  {
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
  }
}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

$red: #e55643 ;
$green: #2b9f5e;
$yellow: #f1c83c;
$shadow: #533d4a;
* {
  border: 71px solid green;
}
html{
  height: 100%;
}

body{
  font-family: 'Fjalla One', sans-serif;
  background: red;
  width: 100%;
  height: auto;
}

.container{
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  max-width: 600px;
}

.button{
  float: left;
  position: relative;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);
  color: $red;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;

  span{
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px;
  }
}

h1{
  color: #fff;
  text-transform: uppercase;
  font-size: 100px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 2px;
}

.title{
  transform: translateX(-50%) rotate(-7deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;

  span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
  }
}

.title{
  &:nth-child(1){
    color: $red;
  }
  &:nth-child(2){
    color: $green;
  }
  &:nth-child(3){
    color: $yellow;
  }
}
