<!DOCTYPE html>
<html lang ="en">

<%= javascript_include_tag params[:controller] %>

<div class="container">
  <div class="row" style="margin-top:40px;">
    <div class="col-md-6">
    <div class="well well-sm">
      <div class="text-right">
        <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
      </div>

      <div class="row" id="post-review-box" style="display:none;">
        <div class="col-md-12">
          <form accept-charset="UTF-8" action=<%= "/beers/#{@beer.id}/reviews" %> method="post">
            <input id="ratings-hidden" name="rating" type="hidden">
            <input name="authenticity_token" type="hidden" value="token_value">
            <textarea class="form-control animated" cols="50" id="manufacturer" name ="manufacturer" placeholder="Manufacturer" rows="1"></textarea>
            <textarea class="form-control animated" cols="50" id="name" name="name" placeholder="Beer name" rows="1"></textarea>
            <textarea class="form-control animated" cols="50" id="price" name="price" placeholder="Price" rows="1"></textarea>
            <textarea class="form-control animated" cols="50" id="location" name="location" placeholder="Enter your location" rows="1"></textarea>
            <textarea class="form-control animated" cols="50" id="body" name="body" placeholder="Enter your review here..." rows="5"></textarea>

            <div class="text-right">
              <div class="stars starrr" data-rating="0"></div>
              <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                <span class="glyphicon glyphicon-remove"></span>Cancel</a>
              <button class="btn btn-success btn-lg" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</html>
